<div class="seat">
     <%= seat.nazwisko %>
	<%= seat.imie %>
	<%= seat.telefon %>
   </div>
   <p>
     <%= link_to "Delete", [@destination, seat], :confirm => 'Jesteś pewny?', :method => :delete %>
   </p>