
a img {
  border-bottom: 1px groove #8470FF;
}

a {
  color: #0000FF;
}
#header {
	font-size: 30px;
   height: 3cm;
   width:73%;
   margin: 10px auto 0;
   text-align: center;
	background-color: #CDC1C5;
   box-shadow: 0 2px 6px #8470FF;
    -moz-box-shadow: 0 2px 6px #8470FF;
    -webkit-box-shadow: 0 2px 6px #8470FF;
   border-radius: 3% 3% 0% 0%;
    -moz-border-radius: 3% 3% 0% 0%;
    -webkit-border-radius: 3% 3% 0% 0%;
	} 
	
h1 {
	color: #8B5F65;
    font-family: "Franklin Gothic Book";	
	}
#footer {
    clear: both;
    color: #A9A9A9;
    display: block;
    margin-top: auto;
    text-align: center;
    background-color: #CDC1C5;
   box-shadow: 0 2px 6px #8470FF;
    -moz-box-shadow: 0 2px 6px #8470FF;
    -webkit-box-shadow: 0 2px 6px #8470FF;
   border-radius: 3% 3% 0% 0%;
    -moz-border-radius: 3% 3% 0% 0%;
    -webkit-border-radius: 3% 3% 0% 0%;
    height: 1cm;
   width:73%;
   margin: 10px auto 0;
}  
.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  background-color: #DCDCDC;
    box-shadow: 0 2px 6px #8470FF;
    -moz-box-shadow: 0 2px 6px #8470FF;
    -webkit-box-shadow: 0 2px 6px #8470FF;
    width:70%;
   	margin: 10px auto 0;
    height: auto;
    font-size: 22px;
    padding-left: 30px;
}

#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
    background-color: white;
    border: 1px solid #8470FF;
    width: 70%;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin: 0;
}
