body {
	background-image: url("156.png");
    margin: 4px 0 8px 0;
    height: auto;
    width: auto;
}

input[type="text"], textarea {
  font: inherit;
  font-size: 100%;
}
label {
  display: block;
  margin: 0.5em 0 0.25em 0;
}
.error {
  margin: 0.25em 0;
  font-size: 80%;
  color: #FF0051;
}
.actions {
  margin: 1.0em 0;
}